<!doctype html>
<html>
  <head>
        <title>Money</title>
        <link rel="stylesheet" href="{{STATIC_URL}}/money.css" />
    </head>
    <body>
      <header>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url money-forecast %}">Forecast</a></li>
            <li><a href="{% url money-all %}">All</a></li>
            <li><a href="/admin/">Admin</a></li>
          </ul>
        </nav>
      </header>
      <section id="main">{% block content %}{% endblock %}</section>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}/money.js"></script>
    </body>
</html>
