{% extends "money/base.html" %}
{% load money %}

{% block content %}

<h1>Forecast for {{ latest_transaction.date.year }}</h1>

<table style="width:auto">
  <tr>
    <td>To end of last month</td><td class="amount">{{ before_this_month|pretty_amount }}</td>
  </tr>
  <tr>
    <td>Rest of year (estimated)</td><td class="amount">{{ after_this_month|pretty_amount }}</td>
  </tr>
  <tr>
    <th>Total</td><td class="amount">{{ before_this_month|add:after_this_month|pretty_amount }}</td>
  </tr>
  <tr>
    <td>Regular monthly amount</td>
    <td>Per month</td><td>Remaining for year</td>
  </tr>
  {% for tag, amount, remaining in regular_spending %}
  <tr>
    <td>{{ tag }}</td>
    <td class="amount">{{ amount|pretty_amount }}</td>
    <td class="amount">{{ remaining|pretty_amount }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>Average monthly non-regular spend</td>
    <td>Per month</td><td>Remaining for year</td>
  </tr>
  {% for tag, amount, remaining in irregular_spending %}
  <tr>
    <td>{{ tag }}</td>
    <td class="amount">{{ amount|pretty_amount }}</td>
    <td class="amount">{{ remaining|pretty_amount }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
