*{% extends "money/base.html" %}
{% load money %}

{% block content %}
<p style="font-size:8em;text-align:center;">&pound;{{ latest_transaction.total_balance|pretty_amount }}</p>
<br>

<div style="margin:auto;width:50%">
  <table style="width:auto;margin:auto;font-size:1.5em">
    <tr>
      <td>Savings <small>(since paying into pension)</small></td>
      <td class="amount">{{ living_balance|pretty_amount }}</td>
    </tr>
    {% for account, balance, latest_transaction in balances %}
    {% if account != "TOTAL" and balance != 0 %}
    <tr>
      <td><a href="{% url money-load %}?account={{ account|urlencode }}">{{ account }}</a></td>
      <td class="amount">
        {{ balance|floatformat:2 }}
      </td>
      <td style="font-size:70%">{{ latest_transaction.date|timesince }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>

<table style="width:auto;margin:auto;margin-bottom:.5em;font-size:1.5em">
  {% for date, total in months %}
  <tr>
    <td><a href="{% url money-month-archive date.year date|date:"b" %}">{{ date|date:"Y F" }}</a></td>
    {% with abs_sum=total.sum|stringformat:"+d"|slice:"1:" %}
    <td class="amount"><div style="margin-left:200px;height:20px;background-color:{% if total.sum > 0 %}green{% else %}red{% endif %};inline:block;width:{% widthratio abs_sum 300000 200 %}px;{% if total.sum < 0 %}position:relative;left:{% widthratio total.sum|default:0 300000 200 %}px{% endif %}">{{ total.sum|pretty_amount }}</div></td>      {% endwith %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
