{% extends "money/base.html" %}
{% load money %}

{% block content %}
<h1>{% if not year and not month and not day and not title  %}All{% endif %}{{ year }}{{ month }}{{ day }}{{ title }} &ndash; {{ transaction_list.count }} transactions

<small><small>{% if year or month or day %}<a href="../">Up{% endif %}

    {% for date in date_list %}
    {% if year %}
        <a href="{{ date|date:"b" }}/">{{ date|date:"b" }}</a> 
    {% endif %}
    {% if month %}
        <a href="{{ date|date:"d" }}/">{{ date|date:"d" }}</a> 
    {% endif %}
    {% if up %}
        <a href="{{ up }}">{{ up_text }}</a> 
    {% endif %}
    {% if not year and not month and not up %}
        <a href="{{ date|date:"Y" }}/">{{ date|date:"Y" }}</a> 
    {% endif %}
    {% endfor %}
</small>
</small>
</h1>
{% transactions object_list %}
{% endblock %}
