{% extends "money/base.html" %}
{% load money %}

{% block content %}
<h1>{{ year }}{{ month }}{{ day }}</h1>

<p><a href="../">{% if month %}{{ month|date:"Y" }}{% endif %}{% if day %}{{ day|date:"b" }}{% endif %}</a></p>
<p>
    {% for date in date_list %}
    {% if year %}
        <a href="{{ date|date:"b" }}/">{{ date|date:"b" }}</a> 
    {% endif %}
    {% if month %}
        <a href="{{ date|date:"d" }}/">{{ date|date:"d" }}</a> 
    {% endif %}
    {% endfor %}
</p>

{% transactions transaction_list %}
{% endblock %}
