{% extends "money/base.html" %}
{% load money %}

{% block content %}
<h1>{% if not year and not month and not day %}All{% endif %}{{ year }}{{ month }}{{ day }}</h1>

<p>{% if year or month or day %}<a href="../">Up{% endif %}
<p>
    {% for date in date_list %}
    {% if year %}
        <a href="{{ date|date:"b" }}/">{{ date|date:"b" }}</a> 
    {% endif %}
    {% if month %}
        <a href="{{ date|date:"d" }}/">{{ date|date:"d" }}</a> 
    {% endif %}
    {% if not year and not month %}
        <a href="{{ date|date:"Y" }}/">{{ date|date:"Y" }}</a> 
    {% endif %}
    {% endfor %}
</p>

{% transactions object_list %}
{% endblock %}
